:root {
  --pink-grey: #F7E2D4;
  --dark-blue: #2E4147;
  --accent-shadow: #2E41477F;
  --hover-grey: #EBE8E5;
}

body {
  background-color: var(--dark-blue);
  color: var(--light-grey);
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px var(--accent-shadow);
}

.divider {
  height: 2px;
  background-color: var(--hover-grey);
  width: 100%;
  margin: 20px 0;
}

.dropdown-container {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

select {
  appearance: none;
  background-color: var(--light-grey);
  border: 2px solid var(--dark-blue);
  padding: 10px;
  color: var(--dark-blue);
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  width: 200px;
}

.select-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  pointer-events: none;
}

#current-date {
  font-size: 1.5rem;
  margin-top: 20px;
}

.btn {
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  color: var(--dark-blue);
  background-color: var(--light-grey);
  border-radius: 50px;
  border: 2px solid var(--dark-blue);
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--hover-grey);
}