body {
  background-color: #631e1b;
  color: #f7ece1;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #2c2c2c;
}

.divider {
  height: 2px;
  background-color: #ebe8e5;
  width: 100%;
  margin: 20px 0;
}

.dropdown-container {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

select {
  appearance: none;
  background-color: #f7ece1;
  border: 2px solid #4357a0;
  padding: 10px;
  color: #631e1b;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  width: 200px;
}

.select-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  pointer-events: none;
}

#current-date {
  font-size: 1.5rem;
  margin-top: 20px;
}

.btn {
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  color: #631e1b;
  background-color: #f7ece1;
  border-radius: 50px;
  border: 2px solid #4357a0;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ebe8e5;
}
