/* initial styles provided by freeCodeCamp */
body {
  margin: 0;
  background-color: #92A8A3;
  text-align: center;
  color: #F5DEB3;
}

button {
  cursor: pointer;
  background-color: #F5DEB3;
  border: 3px solid #F5DEB3;
  color: #2E4147;
}

button:hover {
  background-color: #2E4147;
  border-color: #2E4147;
  color: #F5DEB3;
}

input {
  background-color: #92A8A3;
  color: #2E4147;
  border: 1px solid #F5DEB3;
  outline: 2px solid transparent;
}

input:focus {
  border-color: #F5DEB3;
  outline: 2px solid #F5DEB3;
}

.bold {
  font-weight: bold;
}